.height-80 {
    height: 80px;
}

.height-581 {
    height: 581px;
}

.height-845 {
    height: 845px;
}

.height-741 {
    height: 741px;
}

.color-background-color-header {
    color: #ffffff;
    background-color: #3b065e;
}

.background-color {
    background-color: #3b065e;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.div-bars-header {
    margin-left: 1055px;
    margin-top: -60px;
    width: 110px;
}

.background-color-section {
    background-color: #3b065e;
}

.div-conteudo-p-section {
    padding: 75px 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.div-conteudo-p-section h1 {
    letter-spacing: normal;
    font-family: Barlow;
    font-weight: 700;
    font-size: 3rem;
    text-transform: none;
    margin: 0;
    color: #ffffff;
}

.div-conteudo-p-section p {
    font-size: 1.125rem;
    margin: 30px 78px 0 0;
    color: #ffffff;
}

.div-conteudo-p-section a {
    color: #ffffff;
    font-weight: 400;
    padding: 0;
}

.botao-saiba-mais-p-section {
    display: block;
    width: 65%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #806f6f, #29b7dd, #b4975a);
    background-size: 200%;
    font-size: 1.2rem !important;
    color: #fff !important;
    font-family: 'Zen Old Mincho', serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
    padding-top: 11px !important;
    margin-top: 55px;
    text-decoration: none !important;
    padding-left: 105px !important;
}

.botao-saiba-mais-p-section:hover {
    background-position: right;
    color: white !important;
}

.imagem-p-section {
    min-height: 581px;
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/a9fb239c81c553dfba0355d7/ffffff.jpg);
    background-position: center;
    background-size: cover;
}

.contudo-imagem-p-section {
    padding: 30px 0 30px 40px;
    justify-content: flex-end;
}

.titulo-s-section {
    background-image: none;
    width: 527px;
    margin: 60px auto 0;
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 70px;
    font-family: 'Zen Antique Soft', serif;
}

.texto-da-s-section {
    font-family: 'Zen Antique Soft', serif;
    margin-top: 20px;
    color: #b4975a;
    font-size: 1.2em;
}

.imagem-s-section {
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/4502b6935af0533d9d632233/fffffff-min.jpg);
    background-position: center;
    background-size: cover;
    height: 530px;
}

.grid-template-rows {
    grid-template-rows: repeat(2, auto);
    width: 570px;
    margin: 0 0 0 auto;
}

.grid-template-columns {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 526px;
    grid-gap: 20px;
}

.p-div-s-section {
    color: #ffffff;
    background-color: #29b7dd;
    display: flex;
    position: relative;
    text-align: center;
    height: 260px;
    width: 278px;
}

.div-conteudo-p-div {
    padding: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
    color: #ffffff;
}

.div-conteudo-p-div span {
    height: 48px;
    width: 48px;
    margin: 0 auto;
}

.div-conteudo-p-div i {
    font-size: 40px;
}

.div-conteudo-p-div h4 {
    margin: 20px 0 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: Barlow;
}

.s-div-s-section {
    color: #ffffff;
    background-color: #8b72ee;
    display: flex;
    position: relative;
    text-align: center;
    height: 260px;
    width: 278px;
    margin-top: -260px;
    margin-left: 290px;
}

.t-div-s-section {
    color: #ffffff;
    background-color: #5d3be7;
    display: flex;
    position: relative;
    text-align: center;
    height: 260px;
    width: 278px;
    margin-top: 10px;
}

.q-div-s-section {
    color: #ffffff;
    background-color: #bd72ef;
    display: flex;
    position: relative;
    text-align: center;
    height: 260px;
    width: 278px;
    margin-top: -260px;
    margin-left: 290px;
}

.imagem-de-freepik {
    padding-top: 40px;
    color: #111111;
}

.imagem-de-freepik a {
    color: #111111;
    display: inline;
    border-width: 1px;
    font-weight: 500 !important;
}

.div-t-section {
    padding: 30px;
    flex: 1;
    max-width: 100%;
    text-align: left;
}

.div-t-section h2 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    color: #ffffff;
    font-family: "Oswald",sans-serif;
    margin-top: 60px;
}

.div-t-section img {
    height: 413px;
    margin: 30px auto 0;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.imagem-de-freepik-cor-branca {
    padding-top: 40px;
    color: #ffffff;
}

.imagem-de-freepik-cor-branca a {
    color: #ffffff;
    display: inline;
    border-width: 1px;
    font-weight: 500 !important;
}

.widht-350 {
    width: 355px;
    margin: 0 0 60px auto;
    margin-top: 110px;
}

.widht-355 {
    width: 355px !important;
}

.grid-template-columns-2 {
    grid-template-columns: repeat(1, 100%);
    grid-gap: 10px;
    display: grid;
}

.padding-30px {
    padding: 30px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.padding-30px h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 154px 0 0;
    line-height: 1.2;
}

.padding-30px p {
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Lora', serif;
    margin: 20px 0 0 51px;
}

.padding-30px a {
    color: #ffffff;
    margin-left: 51px;
    margin-right: 51px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
    padding: 0;
    font-family: 'Zen Old Mincho', serif;
}



/* Responsivo */

@media (max-width: 320px) { 
    .div-bars-header {
        margin-left: 230px;
        margin-top: -60px;
        width: 35px;
    }

    .div-conteudo-p-section h1 {
        letter-spacing: normal;
        font-family: Barlow;
        font-weight: 700;
        font-size: 2.1rem;
        text-transform: none;
        margin: -10px;
        color: #ffffff;
    }

    .div-conteudo-p-section p {
        font-size: 1.125rem;
        margin: 30px -15px 0 -5px;
        color: #ffffff;
    }

    .botao-saiba-mais-p-section {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 25px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #806f6f, #29b7dd, #b4975a);
        background-size: 200%;
        font-size: 1.2rem !important;
        color: #fff !important;
        font-family: 'Zen Old Mincho', serif;
        text-transform: uppercase;
        margin: 1rem 0;
        cursor: pointer;
        transition: .5s;
        padding-top: 11px !important;
        margin-top: 60px;
        text-decoration: none !important;
        padding-left: 58px !important;
    }

    .imagem-p-section {
        display: none;
    }

    .height-581 {
        height: 655px;
    }

    .titulo-s-section {
        background-image: none;
        width: 270px;
        margin: 60px auto 0;
        font-size: 2rem;
        line-height: 1.1;
        margin-top: 70px;
        font-family: 'Zen Antique Soft', serif;
    }

    .texto-da-s-section {
        font-family: 'Zen Antique Soft', serif;
        margin-top: 25px;
        color: #b4975a;
        font-size: 1.2em;
    }

    .p-div-s-section {
        color: #ffffff;
        background-color: #29b7dd;
        display: flex;
        position: relative;
        text-align: center;
        height: 200px;
        width: 142px;
        margin-left: -12px;
        margin-top: 15px;
    }

    .div-conteudo-p-div h4 {
        margin: 20px -27px 0;
        text-align: center;
        font-weight: 400;
        line-height: 1.2;
        font-family: Barlow;
        font-size: 1.1em;
    }

    .s-div-s-section {
        color: #ffffff;
        background-color: #8b72ee;
        display: flex;
        position: relative;
        text-align: center;
        height: 200px;
        width: 142px;
        margin-top: -200px;
        margin-left: 142px;
    }

    .t-div-s-section {
        color: #ffffff;
        background-color: #5d3be7;
        display: flex;
        position: relative;
        text-align: center;
        height: 200px;
        width: 142px;
        margin-top: 15px;
        margin-left: -11px;
    }

    .q-div-s-section {
        color: #ffffff;
        background-color: #bd72ef;
        display: flex;
        position: relative;
        text-align: center;
        height: 200px;
        width: 142px;
        margin-top: -200px;
        margin-left: 143px;
    }

    .imagem-de-freepik {
        margin-top: -105px;
        color: #111111;
    }

    .height-845 {
        height: 1400px;
    }

    .div-t-section h2 {
        font-size: 2.3rem;
        font-weight: 700;
        margin: 0;
        line-height: 1.1;
        color: #ffffff;
        font-family: "Oswald",sans-serif;
        margin-top: 60px;
    }

    .widht-355 {
        width: 260px !important;
    }

    .widht-350 {
        width: 272px;
        margin-top: 0px;
        margin: unset;
    }

    .div-t-section img {
        height: 270px;
        margin: 30px auto 0;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .margin-left-304 {
        display: unset;
    }

    .height-741 {
        height: 1270px;
    }
}
  
@media (min-width: 321px) and (max-width: 375px) {
    .div-bars-header {
        margin-left: 280px;
        margin-top: -60px;
        width: 50px;    
    }

    .div-conteudo-p-section h1 {
        letter-spacing: normal;
        font-family: Barlow;
        font-weight: 700;
        font-size: 2.1rem;
        text-transform: none;
        margin: 0;
        color: #ffffff;
    }

    .div-conteudo-p-section p {
        font-size: 1.125rem;
        margin: 30px -15px 0 0;
        color: #ffffff;
    }

    .botao-saiba-mais-p-section {
        display: block;
        width: 85%;
        height: 50px;
        border-radius: 25px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #806f6f, #29b7dd, #b4975a);
        background-size: 200%;
        font-size: 1.2rem !important;
        color: #fff !important;
        font-family: 'Zen Old Mincho', serif;
        text-transform: uppercase;
        margin: 1rem 0;
        cursor: pointer;
        transition: .5s;
        padding-top: 11px !important;
        margin-top: 60px;
        text-decoration: none !important;
        padding-left: 65px !important;
    }

    .imagem-p-section {
        display: none;
    }

    .height-581 {
        height: 606px;
    }

    .titulo-s-section {
        background-image: none;
        width: 332px;
        margin: 60px auto 0;
        font-size: 2rem;
        line-height: 1.1;
        margin-top: 70px;
        font-family: 'Zen Antique Soft', serif;
    }

    .texto-da-s-section {
        font-family: 'Zen Antique Soft', serif;
        margin-top: 25px;
        color: #b4975a;
        font-size: 1.2em;
    }

    .p-div-s-section {
        color: #ffffff;
        background-color: #29b7dd;
        display: flex;
        position: relative;
        text-align: center;
        height: 220px;
        width: 170px;
        margin-left: -12px;
        margin-top: 15px;
    }

    .div-conteudo-p-div h4 {
        margin: 20px -27px 0;
        text-align: center;
        font-weight: 400;
        line-height: 1.2;
        font-family: Barlow;
        font-size: 1.3em;
    }

    .s-div-s-section {
        color: #ffffff;
        background-color: #8b72ee;
        display: flex;
        position: relative;
        text-align: center;
        height: 220px;
        width: 170px;
        margin-top: -220px;
        margin-left: 170px;
    }

    .t-div-s-section {
        color: #ffffff;
        background-color: #5d3be7;
        display: flex;
        position: relative;
        text-align: center;
        height: 220px;
        width: 170px;
        margin-top: 15px;
        margin-left: -11px;
    }

    .q-div-s-section {
        color: #ffffff;
        background-color: #bd72ef;
        display: flex;
        position: relative;
        text-align: center;
        height: 220px;
        width: 170px;
        margin-top: -220px;
        margin-left: 170px;
    }

    .imagem-de-freepik {
        margin-top: -75px;
        color: #111111;
    }

    .height-845 {
        height: 1400px;
    }

    .div-t-section h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0;
        line-height: 1.1;
        color: #ffffff;
        font-family: "Oswald",sans-serif;
        margin-top: 60px;
    }

    .widht-355 {
        width: 300px !important;
    }

    .widht-350 {
        width: 350px;
        margin-top: 0px;
        margin: unset;
    }

    .div-t-section img {
        height: 320px;
        margin: 30px auto 0;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .margin-left-304 {
        display: unset;
    }

    .height-741 {
        height: 1270px;
    }

}
  
@media (min-width:  376px) and (max-width: 576px) {   
    .div-bars-header {
        margin-left: 325px;
        margin-top: -60px;
        width: 50px;
    }

    .div-conteudo-p-section h1 {
        letter-spacing: normal;
        font-family: Barlow;
        font-weight: 700;
        font-size: 2.5rem;
        text-transform: none;
        margin: 0;
        color: #ffffff;
    }

    .div-conteudo-p-section p {
        font-size: 1.125rem;
        margin: 30px -15px 0 0;
        color: #ffffff;
    }

    .botao-saiba-mais-p-section {
        display: block;
        width: 75%;
        height: 50px;
        border-radius: 25px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #806f6f, #29b7dd, #b4975a);
        background-size: 200%;
        font-size: 1.2rem !important;
        color: #fff !important;
        font-family: 'Zen Old Mincho', serif;
        text-transform: uppercase;
        margin: 1rem 0;
        cursor: pointer;
        transition: .5s;
        padding-top: 11px !important;
        margin-top: 60px;
        text-decoration: none !important;
        padding-left: 70px !important;
    }

    .imagem-p-section {
        display: none;
    }

    .height-581 {
        height: 595px;
    }

    .titulo-s-section {
        background-image: none;
        width: 375px;
        margin: 60px auto 0;
        font-size: 2.2rem;
        line-height: 1.1;
        margin-top: 70px;
        font-family: 'Zen Antique Soft', serif;
    }

    .p-div-s-section {
        color: #ffffff;
        background-color: #29b7dd;
        display: flex;
        position: relative;
        text-align: center;
        height: 235px;
        width: 193px;
        margin-left: -12px;
        margin-top: 15px;
    }

    .div-conteudo-p-div h4 {
        margin: 20px -18px 0;
        text-align: center;
        font-weight: 400;
        line-height: 1.2;
        font-family: Barlow;
    }

    .s-div-s-section {
        color: #ffffff;
        background-color: #8b72ee;
        display: flex;
        position: relative;
        text-align: center;
        height: 235px;
        width: 193px;
        margin-top: -235px;
        margin-left: 196px;
    }

    .t-div-s-section {
        color: #ffffff;
        background-color: #5d3be7;
        display: flex;
        position: relative;
        text-align: center;
        height: 235px;
        width: 193px;
        margin-top: 15px;
        margin-left: -11px;
    }

    .q-div-s-section {
        color: #ffffff;
        background-color: #bd72ef;
        display: flex;
        position: relative;
        text-align: center;
        height: 235px;
        width: 193px;
        margin-top: -235px;
        margin-left: 195px;
    }

    .imagem-de-freepik {
        padding-top: 0px;
        color: #111111;
    }

    .height-845 {
        height: 1400px;
    }

    .div-t-section h2 {
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        line-height: 1.1;
        color: #ffffff;
        font-family: "Oswald",sans-serif;
        margin-top: 60px;
    }

    .widht-350 {
        width: 355px;
        margin-top: 0px;
        margin: unset;
    }

    .div-t-section img {
        height: 370px;
        margin: 30px auto 0;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .margin-left-304 {
        display: unset;
    }

    .height-741 {
        height: 1270px;
    }

}
  
@media (min-width: 577px) and (max-width: 768px) {
    .div-bars-header {
        margin-left: 640px;
        margin-top: -60px;
        width: 90px;
    }

    .div-conteudo-p-section h1 {
        letter-spacing: normal;
        font-family: Barlow;
        font-weight: 700;
        font-size: 2.6rem;
        text-transform: none;
        margin: 0;
        color: #ffffff;
    }

    .div-conteudo-p-section p {
        font-size: 1.125rem;
        margin: 30px -15px 0 0;
        color: #ffffff;
    }

    .botao-saiba-mais-p-section {
        display: block;
        width: 65%;
        height: 50px;
        border-radius: 25px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #806f6f, #29b7dd, #b4975a);
        background-size: 200%;
        font-size: 1.2rem !important;
        color: #fff !important;
        font-family: 'Zen Old Mincho', serif;
        text-transform: uppercase;
        margin: 1rem 0;
        cursor: pointer;
        transition: .5s;
        padding-top: 11px !important;
        margin-top: 90px;
        text-decoration: none !important;
        padding-left: 150px !important;
        margin-left: 105px;
    }

    .height-581 {
        height: 1105px;
    }

    .p-div-s-section {
        color: #ffffff;
        background-color: #29b7dd;
        display: flex;
        position: relative;
        text-align: center;
        height: 260px;
        width: 355px;
        margin-left: -162px;
        margin-top: 15px;
    }

    .s-div-s-section {
        color: #ffffff;
        background-color: #8b72ee;
        display: flex;
        position: relative;
        text-align: center;
        height: 260px;
        width: 350px;
        margin-top: -260px;
        margin-left: 210px;
    }

    .t-div-s-section {
        color: #ffffff;
        background-color: #5d3be7;
        display: flex;
        position: relative;
        text-align: center;
        height: 260px;
        width: 355px;
        margin-top: 15px;
        margin-left: -162px;
    }

    .q-div-s-section {
        color: #ffffff;
        background-color: #bd72ef;
        display: flex;
        position: relative;
        text-align: center;
        height: 260px;
        width: 350px;
        margin-top: -260px;
        margin-left: 210px;
    }

    .imagem-de-freepik {
        padding-top: 25px;
        color: #111111;
    }

    .height-845 {
        height: 1400px;
    }

    .widht-350 {
        width: 355px;
        margin-top: 0px;
        margin: unset;
    }

    .margin-left-304 {
        margin-left: 304px;
        margin-top: -255px;
        width: 355px;
    }

    .height-741 {
        height: 1000px;
    }

}
  
@media (min-width: 769px) and (max-width: 992px) {
    
}
  
@media (min-width: 993px) and (max-width: 1200px) {  
    .div-bars-header {
        margin-left: 870px;
        margin-top: -60px;
        width: 110px;
    }

    .height-581 {
        height: 610px;
    }

    .imagem-p-section {
        display: unset;
    }

    .botao-saiba-mais-p-section {
        display: block;
        width: 65%;
        height: 50px;
        border-radius: 25px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #806f6f, #29b7dd, #b4975a);
        background-size: 200%;
        font-size: 1.2rem !important;
        color: #fff !important;
        font-family: 'Zen Old Mincho', serif;
        text-transform: uppercase;
        margin: 1rem 0;
        cursor: pointer;
        transition: .5s;
        padding-top: 11px !important;
        margin-top: 55px;
        text-decoration: none !important;
        padding-left: 75px !important;
    }
    
    .p-div-s-section {
        color: #ffffff;
        background-color: #29b7dd;
        display: flex;
        position: relative;
        text-align: center;
        height: 260px;
        width: 240px;
        margin-top: -530px;
        margin-left: 90px;
    }

    .s-div-s-section {
        color: #ffffff;
        background-color: #8b72ee;
        display: flex;
        position: relative;
        text-align: center;
        height: 260px;
        width: 240px;
        margin-top: -260px;
        margin-left: 340px;
    }

    .t-div-s-section {
        color: #ffffff;
        background-color: #5d3be7;
        display: flex;
        position: relative;
        text-align: center;
        height: 260px;
        width: 240px;
        margin-top: 10px;
        margin-left: 90px;
    }

    .q-div-s-section {
        color: #ffffff;
        background-color: #bd72ef;
        display: flex;
        position: relative;
        text-align: center;
        height: 260px;
        width: 240px;
        margin-top: -260px;
        margin-left: 340px;
    }

    .imagem-de-freepik {
        padding-top: 30px;
        color: #111111;
    }

    .widht-355 {
        width: 305px !important;
    }

    .widht-350 {
        width: 340px;
        margin: 0 0 60px auto;
        margin-top: 100px;
    }

    .div-t-section h2 {
        font-size: 3.1rem;
        font-weight: 700;
        margin: 0;
        line-height: 1.1;
        color: #ffffff;
        font-family: "Oswald",sans-serif;
        margin-top: 60px;
    }

}
  
@media (min-width: 1201px) {
    
}